/* INDEX */

header{
background-color: rgb(21, 21, 124);
color: rgb(255, 255, 255);
display: flex;
flex-direction: center;
justify-content: space-between;
}

ul{
list-style: none;
display: flex;
flex-direction: row;
}

li{
    margin: 0 20px ;
}

h1{
    margin-left: 15px;
    display: flex;
    flex-direction: center;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(21, 21, 124);
}

nav a {
    color: white; /* Cambia el color del texto a negro */
    text-decoration: none; /* Remueve el subrayado */
}

.banner {
    display: flex;               /* Aplica Flexbox, lo que permite organizar los elementos dentro de `.banner` */
    flex-direction: column;      /* Cambia la dirección del layout a columnas, colocando los elementos uno debajo del otro */
    align-items: center;         /* Centra los elementos horizontalmente en el contenedor */
    margin-bottom: 20px;         /* Añade espacio debajo de la sección de las imágenes para separarlas del subtítulo */
}

.custom-bg{
    background-color: rgb(21, 21, 124);
}

.images-container {
    display: flex;               /* Flexbox también se usa aquí, pero las imágenes dentro se alinearán en fila por defecto */
    justify-content: space-around; /* Distribuye las imágenes con espacio alrededor, centrándolas horizontalmente */
    align-items: stretch;        /* Hace que las imágenes se estiren para llenar todo el alto disponible en el contenedor */
    margin-bottom: 20px;         /* Añade espacio debajo de las imágenes para separar las imágenes del subtítulo */
}

.images-container img {
    width: 700px;                /* Establece el ancho fijo de cada imagen */
    height: 700px;               /* Establece el alto fijo de cada imagen */
    object-fit: cover;           /* Recorta las imágenes para llenar completamente el área definida por el ancho y alto sin deformarlas */
    margin: 20px;                /* Añade espacio alrededor de cada imagen */
    border-radius: 20px;         /* Redondea los bordes de las imágenes para darles un estilo más suave */
}

.subtitle-container {
    text-align: center;          /* Centra el texto del subtítulo dentro del contenedor */
    width: 100%;                 /* Hace que el contenedor del subtítulo ocupe todo el ancho disponible */
    color: white;                 /* Establece el color del texto del subtítulo */
    background-color:rgb(21, 21, 124); /* Establece el color de fondo del contenedor del subtítulo */
    padding: 10px;               /* Añade espacio interno (padding) alrededor del texto del subtítulo */
}

.subtitle-container p {
    margin: 0;                   /* Elimina el margen predeterminado del párrafo, para que no haya espacio extra alrededor del texto */
    font-size: 24px;             /* Ajusta el tamaño de la fuente del texto del subtítulo */
}

html, body {
    height: 100%; /* Asegura que el body y el html ocupen el 100% de la altura de la pantalla */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el body ocupe toda la altura de la ventana */
  }
  
 
  
 /* Asegúrate de que el contenedor del carrusel ocupe todo el ancho del viewport */
/* Carrusel: Ajuste del contenedor principal */
.carousel {
    width: 100%; /* Ocupa el 100% del ancho de la ventana */
    max-width: 100%; /* Asegura que la imagen no se estire más allá del contenedor */
    height: 40vh; /* Ajusta la altura al 30% del viewport */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    margin: 0 0; /* Centra horizontalmente el carrusel */
    display: flex; /* Flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
}

/* Imágenes del carrusel: Ajuste de distribución y tamaño */
.carousel-inner img {
    width: auto; /* Mantiene el ancho original de la imagen */
    height: 100%; /* Se ajusta a la altura del carrusel */
    object-fit: cover; /* Asegura que las imágenes se recorten y mantengan las proporciones sin deformarse */
    object-position: center; /* Centra la imagen dentro del contenedor */
    max-width: 100%; /* Evita que la imagen se estire más allá del ancho del contenedor */
}


  
.image-gallery {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    justify-content: center; 
    padding: 10px;
}

.image-box {
    position: relative;
    width: 300px; /* Fija el ancho de las imágenes */
    height: 400px; /* Fija la altura para que todas las imágenes tengan el mismo tamaño */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las imágenes llenen el contenedor sin deformarse */
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.image-caption h3 {
    margin: 0;
    font-size: 1.2rem;
}

.image-caption p {
    margin: 5px 0 0;
    font-size: 1rem;
}

  
  
  

main {
    flex: 1; /* Hace que el main ocupe todo el espacio disponible entre el header y footer */
}

.footer-global {
    position: relative;
    background-color: #f8f8f8;
    padding: 20px 0; /* Aumentar el padding para más espacio */
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
    min-height: 100px; /* Aumentar la altura mínima para más espacio */
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    gap: 20px; /* Espacio entre los elementos */
}

.footer-content div {
    flex: 1; /* Permite que cada div tome un espacio proporcional */
    max-width: 200px; /* Limita el ancho máximo de cada div */
}

.footer-content .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espacio entre los iconos sociales */
}

.footer-content .social-icons i {
    font-size: 24px; /* Tamaño de los iconos */
    color: #333; /* Color de los iconos */
    text-decoration: none;
}

.footer-content .social-icons a {
    color: #333; /* Color de los iconos en los enlaces */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.footer-content .social-icons a:hover {
    color: #007bff; /* Color al pasar el ratón sobre los iconos */
}

.footer-content p {
    margin: 0; /* Elimina el margen para evitar espacios innecesarios */
    padding: 5px 0; /* Espaciado vertical */
}

.footer-content div:first-of-type p {
    font-size: 14px; /* Tamaño de fuente para el texto general */
}

.footer-content div:last-of-type p {
    font-size: 14px; /* Tamaño de fuente para el texto general */
}

.footer-content .social-icons p {
    font-size: 14px; /* Tamaño de fuente para el texto de redes sociales */
}


.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px; /* Tamaño de los íconos */
}

.social-icons a:hover {
    color: #ddd; /* Color al pasar el ratón */
}



/* NUESTRA HISTORIA */

.footer-especifico {
 
    position: relative;
    background-color: #f8f8f8;
    padding: 10px 0;
    margin: 0; /* Asegura que no haya margen */
    left: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: left;
    clear: both;
    min-height: 10vh;
    width: 100%;
    box-sizing: border-box;
    display: block; /* O asegúrate de que el display no esté alterando la alineación */
    text-align: left;
}

main{

    display: flex;
    justify-content: center;

}

.main-historia{

    display: flex;
    justify-content: center; /* Centra el párrafo horizontalmente */
    align-items: center; /* Centra el párrafo verticalmente */
    min-height: 100vh; /* Hace que el main ocupe toda la altura de la página */

}

.p-centrado{

    display: flex;
    max-width: 500px; /* Ajusta el ancho máximo del párrafo */
    width: 100%; /* Asegura que el párrafo ocupe todo el ancho disponible dentro del max-width */
    text-align: justify; /* Centra el texto dentro del párrafo */
    border: 2px solid #78787ab7; /* Agrega un borde alrededor del párrafo */
    border-radius: 8px; /* Opcional: añade bordes redondeados */
    background-color: #f0f0f0; /* Opcional: añade un color de fondo */
    margin:  -200px 0 0 0; /* Margen superior negativo para moverlo hacia arriba */
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}


p{

display: flex;
justify-content: center;

}

/* CONTACTOS */

.contactos-main {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre el mapa y la lista de empleados */
    padding: 20px; /* Añade un padding alrededor del contenido */
}

.jefes{

    font-family: 'Roboto', sans-serif; /* Elige una fuente que te guste */
    font-size: 18px; /* Ajusta el tamaño de la fuente */
    line-height: 1.6; /* Controla el espacio entre líneas */
    color: #333; /* Elige el color del texto */
    font-weight: bold;
    
    
}

/* TRABAJE CON NOSOTROS */

.main-Trabaje{

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 70vh; /* Hace que el main ocupe toda la altura de la ventana */
    padding: 20px; /* Añade espacio interno si es necesario */

}

/* PRODUCTOS */


.main-productos{

    padding: 20px; 


}


.productos-section {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en filas */
    gap: 20px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra las imágenes en la página */
}

.img-productos{

    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en filas */
    gap: 20px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra las imágenes en la página */
}

.img-productos img{


    width: calc(25% - 20px); /* Hace que cada imagen ocupe el 25% del contenedor menos el espacio del gap */
    height: auto;
    object-fit: cover; /* Asegura que la imagen llene el espacio sin distorsionarse */
    border-radius: 8px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}




/* Media Query para pantallas pequeñas, como 320px */
@media (max-width: 320px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 10px 0;
    }

    h1 {
        margin-left: 0;
        text-align: center;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner img {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .p-centrado {
        max-width: 100%;
        padding: 5%;
        margin: 0;
    }

    .contactos-main {
        padding: 10px;
    }

    .contactos-main img {
        width: 100%;
        height: auto;
    }

    .main-Trabaje {
        padding: 10px;
        min-height: auto;
    }

    .productos-section {
        flex-direction: column;
        align-items: center;
    }

    .productos-section img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-global {
        font-size: 14px;
        padding: 10px;
    }

    .footer-especifico {
        font-size: 14px;
        padding: 10px;
    }
}


