/* INDEX */
// Estilos generales para el header
header {
  // Uso de listas para colores
  background-color: nth($colores, 1);
  color: nth($colores, 2); // Usamos el color blanco para el texto
  font-family: nth($fuentes, 1); // Uso de la lista de fuentes
  padding: 10px 20px;
  position: relative; // Para manejar la posición del menú correctamente
}

/* Global styles */
.footer-global {
  background-color: nth($colores, 3); /* Color de fondo */
  color: nth($colores, 4); /* Color del texto (blanco) */
  font-family: nth($fuentes, 1); // Uso de la lista de fuentes
  padding: 20px 0; /* Espacio dentro del footer */
  text-align: center; /* Centra el contenido del footer */

  .footer-content {
    @include flexbox(row, space-around, center, wrap, 20px); /* Usamos el mixin de flexbox */
    div {
      flex: 1;
      max-width: 200px;
    }

    .social-icons {
      @include flexbox(row, center, stretch, nowrap, 5px); /* Usamos el mixin de flexbox */

      a, i {
        font-size: 24px;
        color: #333;
        transition: color 0.3s;
      }

      a:hover {
        color: #007bff;
      }
    }

    p {
      margin: 0;
      padding: 5px 0;
    }
  }
}
