// CONTACTOS
.contactosMain {
    @extend %flexcenterstar;
    gap: 40px;
    //margin: 40px auto;
    width: 90%; 
    flex-wrap: wrap; // Permitir que los elementos se envuelvan en pantallas pequeñas
}

.left-side, .TextoContacto {
    background-color: nth($coloresPaleta,3); 
    color: nth($colores, 13);
    padding: 20px;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%; // Mantén un 48% para espacio entre columnas en pantallas grandes
}

.mapa iframe {
    @include sizes(100%, 350px, 12px, 0); 
}

.jefes {
    margin-top: 20px;
    background-color: nth($coloresPaleta, 4);
    color: nth($coloresPaleta,1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.TextoContacto img {
    margin-top: auto;
    gap: 40px;
    width: 100%; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* // Media queries para pantallas pequeñas
@media only screen and (max-width: 768px) {
    .contactosMain {
        flex-direction: column; // Cambiar el layout a columna en pantallas pequeñas
        align-items: center; // Alinear los elementos al centro
    }

    .left-side, .TextoContacto {
        width: 100%; // Hacer que ocupen el 100% del ancho
        margin-bottom: 20px; // Añadir margen entre los elementos
    }

    .TextoContacto img {
        width: 100%; // Asegurarse de que la imagen ocupe todo el ancho
        margin-top: 10px; // Reducir el margen superior
    }

    .mapa iframe {
        height: 300px; // Ajustar la altura del mapa en pantallas más pequeñas
    }
}
 */

