// CAROUSEL INDEX
.banner {
  @extend %flexcolumncenter;
  margin-bottom: 0;
  padding: 0;
}

.carousel {
  @include size(100%, auto);
  overflow: hidden;
  margin: 0;
  padding: 0;

  .carousel-inner img {
      @include size(100%, auto);
      object-fit: cover;
      max-width: 100%;
  }
}

.subtitle-container {
  text-align: center;
  width: 100%;
  margin-top: -5px; // Pego el subtítulo al carrusel
  margin-bottom: 0;

  p {
      color: nth($coloresPaleta, 1);
      margin: 0;
      font-size: 24px;
      background-color: nth($coloresPaleta, 4);
  }
}

.image-gallery {
  @include flexjustify(wrap, center);
  gap: 20px;
  padding: 10px;
}

.image-box {
  width: calc(33.33% - 20px);
  max-width: 300px;
  text-align: center;

  .gallery-image {
      width: 100%;
      height: 350px; // Asegura que todas las imágenes tengan la misma altura
      object-fit: cover; // Mantiene proporciones sin deformar la imagen
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .image-caption {
      margin-top: 5px; // Separa un poco el texto de la imagen

      h3 {
          margin: 0;
          font-size: 1.2rem;
          color: nth($colores, 13);
      }

      p {
          margin-top: 1px;
          font-size: 1rem;
          color: nth($colores, 13);
      }
  }
}
