/* Menú hamburguesa en responsive */
@media (max-width: 320px) {
    .nav-menu {
      display: none; // Ocultar el menú en pantallas pequeñas
    }

    .navbar-toggler {
      display: block; // Mostrar el botón del menú hamburguesa en pantallas pequeñas
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 10;
    }

    .offcanvas {
      background-color: nth($colores, 1); // Color primario (azul oscuro)
      color: nth($colores, 2); // Color secundario (blanco)

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0;

          a {
            color: nth($colores, 2); // Color secundario (blanco)
            text-decoration: none;
            font-size: 1.2rem;
          }
        }
      }
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel {
      height: auto;
    }

    .subtitle-container {
      margin-top: -10px; // Ajustar el subtítulo más cerca en pantallas pequeñas
    }
}

/* Responsiveness */
@media (max-width: 320px) {
    header, ul, h1, .banner, main {
      @include flexboxs(column, center); // Usando el mixin de flexbox
    }

    .image-gallery {
      flex-direction: column;
    }

    .footer-global {
      font-size: 14px;
      padding: 10px;
    }
}
