// TRABAJE CON NOSOTROS

/* Contenedor para ambos lados */
.container-sides {
  @extend %flexcenterstar;
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px;
  gap: 30px; /* Espacio entre los dos lados */
}

/* Lado izquierdo (Formulario) */
.sideLeft {
  @include flexcenterrowes(flex-start, column, center);
  width: 100%;
  max-width: 600px; /* Ajusta el ancho del formulario */
  background-color: nth($coloresPaleta, 3);
  color: nth($colores, 13);
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 124, 27, 0.1); /* Sombra */
}

.sideLeft .col-auto {
  width: 100%;
  margin-bottom: 15px; /* Espacio entre cada input */
}

.form-control {
  width: 100%; /* Input ocupa todo el ancho del contenedor */
  padding: 10px; /* Espaciado interno */
  border: 1px solid nth($colores, 18);
  border-radius: 5px;
}

/* Botones */
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: black !important;
}

button[type="submit"] {
  background-color: nth($coloresPaleta, 4);
  color: nth($colores, 2);
  border: none;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: nth($coloresPaleta, 5) !important;
  border: 2px solid nth($coloresPaleta, 4);
}

button[type="reset"] {
  background-color: nth($coloresPaleta, 4);
  color: nth($colores, 2);
  border: none;
  transition: background-color 0.3s ease;
}

button[type="reset"]:hover {
  background-color: nth($coloresPaleta, 5) !important;
  border: 2px solid nth($coloresPaleta, 4);
}

/* Lado derecho */
/* Estilos para el contenedor principal sideRight */
.sideRight {
  @include flexcenterrowes(center, column, center);
  width: 100%;
  background-color: nth($coloresPaleta, 3);
  color: nth($coloresPaleta, 1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px; /* Espacio entre los bloques */
}

.colorh3 {
  color: nth($colores, 13);
}

/* Estilo para cada bloque dentro de sideRight */
.info-block {
  @include flexcenterrow(space-between, row);
  width: 100%;
  background-color: nth($coloresPaleta, 4);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para las imágenes dentro de los bloques */
.info-block img {
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.info-block .textContents {
  @include flexcenterrow(center, column);
}
